<html lang="en-US" class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home | Hands On As We Grow®</title>
    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" /> <!--LoginPartial design-->

    </environment>


    <script>
        window.adthrive = window.adthrive || {};
        window.adthrive.cmd = window.adthrive.cmd || [];
        window.adthrive.host = 'ads.adthrive.com';
        window.adthrive.plugin = 'adthrive-ads-1.0.30';
        window.adthrive.threshold = Math.floor(Math.random() * 100 + 1);

        (function () {
            var script = document.createElement('script');
            script.async = true;
            script.type = 'text/javascript';
            script.src = document.location.protocol + '//ads.adthrive.com/sites/5334e142208f222c05b9aa1e/ads.min.js?threshold=' + window.adthrive.threshold;
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(script, node);
        })();
    </script>

    <!-- Social Warfare v3.3.3 https://warfareplugins.com -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Home">
    <meta name="twitter:site" content="@@handsonaswegrow">
    <meta name="twitter:creator" content="@@handsonaswegrow">
    <style>
        @@font-face {
            font-family: "sw-icon-font";
            src: url("https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.eot?ver=3.3.3");
            src: url("https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.eot?ver=3.3.3#iefix") format("embedded-opentype"),url("https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.woff?ver=3.3.3") format("woff"), url("https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.ttf?ver=3.3.3") format("truetype"),url("https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.svg?ver=3.3.3#1445203416") format("svg");
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <!-- Social Warfare v3.3.3 https://warfareplugins.com -->
    <!-- This site is optimized with the Yoast SEO Premium plugin v5.8 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="https://handsonaswegrow.com/" />
    <link rel="publisher" href="https://plus.google.com/u/0/b/103165665481712783396/103165665481712783396" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home | Hands On As We Grow®" />
    <meta property="og:url" content="https://handsonaswegrow.com/" />
    <meta property="og:site_name" content="Hands On As We Grow®" />
    <meta property="fb:app_id" content="305534742857822" />
    <meta property="og:image" content="https://handsonaswegrow.com/wp-content/uploads/logo.png" />
    <meta property="og:image:secure_url" content="https://handsonaswegrow.com/wp-content/uploads/logo.png" />
    <script type='application/ld+json'>
        {"@@context":"http:\/\/schema.org","@@type":"WebSite","@@id":"#website","url":"https:\/\/handsonaswegrow.com\/","name":"Hands On As We Grow","alternateName":"Hands On Kids Activities","potentialAction":{"@@type":"SearchAction","target":"https:\/\/handsonaswegrow.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>
    <script type='application/ld+json'>
        {"@@context":"http:\/\/schema.org","@@type":"Organization","url":"https:\/\/handsonaswegrow.com\/","sameAs":["http:\/\/www.facebook.com\/handsonaswegrow","https:\/\/instagram.com\/handsonaswegrow","https:\/\/plus.google.com\/u\/0\/b\/103165665481712783396\/103165665481712783396","http:\/\/www.pinterest.com\/handsonaswegrow\/pins\/","https:\/\/twitter.com\/handsonaswegrow"],"@@id":"#organization","name":"Hands On As We Grow","logo":"https:\/\/handsonaswegrow.com\/wp-content\/uploads\/logo.png"}
    </script>
    <meta name="msvalidate.01" content="4C9089B6E5D496376B73AE52C159DEF5" />
    <meta name="google-site-verification" content="m3XeZoRqeet84t4ULtW-gd2VThZRwrrL68RooAEsQoU" />
    <!-- / Yoast SEO Premium plugin. -->

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Hands On As We Grow® &raquo; Feed" href="https://handsonaswegrow.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Hands On As We Grow® &raquo; Comments Feed" href="https://handsonaswegrow.com/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/handsonaswegrow.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='hands-on-as-we-grow-css' href='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/style.css' type='text/css' media='all' />
    <style id='hands-on-as-we-grow-inline-css' type='text/css'>

        .welcome-box {
            background-image: url(https://handsonaswegrow.com/wp-content/uploads/2017/07/jamie-family-bio.jpg);
            background-repeat: no-repeat;
            background-position: center top;
        }
    </style>
    <link rel='stylesheet' id='supersideme-style-css' href='https://handsonaswegrow.com/wp-content/plugins/superside-me/includes/css/supersideme-style.css' type='text/css' media='screen' />
    <style id='supersideme-style-inline-css' type='text/css'>
        @@media only screen and (max-width:960px) {
            nav, #nav, .nav-primary, .nav-secondary, .supersideme .site-header .secondary-toggle, .menu-toggle, .site-header .menu-social-container {
                display: none
            }

            .slide-nav-link, .ssme-search, .button.ssme-button.ssme-custom {
                display: block
            }
        }

        .sidr {
            width: 260px
        }

            .sidr.left {
                left: -260px
            }

            .sidr.right {
                right: -260px
            }

        .slide-nav-link {
            background-color: #1e4f6d;
            right: 0;
            color: #fefefe;
            position: relative;
            width: auto
        }

        .sidr {
            background-color: #1e4f6d;
            color: #fefefe
        }

            .sidr h3, .sidr h4, .sidr .widget, .sidr p {
                color: #fefefe
            }

            .slide-nav-link:focus, .sidr:focus, .sidr a:focus, .menu-close:focus, .sub-menu-toggle:focus {
                outline: #fefefe dotted 1px
            }

            .sidr a, .sidr a:focus, .sidr a:active, .sidr button, .sidr .sub-menu-toggle:before {
                color: #fefefe
            }

        .search-me {
            color: #1e4f6d
        }

            .slide-nav-link:before, .search-me:before, .menu-close:before, .sidr .sub-menu-toggle:before, .ssme-search:before, .ssme-button:before {
                display: inline-block;
                font: normal normal normal 20px FontAwesome;
                margin: 0;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-transform: translate(0,0);
                -ms-transform: translate(0,0);
                transform: translate(0,0);
                letter-spacing: 0;
                vertical-align: middle
            }

        .menu-close:before, .sidr .sub-menu-toggle:before {
            font-size: 16px
        }

        .slide-nav-link:before {
            content: '\f0c9'
        }

        .slide-nav-link.menu-open:before {
            content: '\f0c9'
        }

        .sidr .menu-close:before {
            content: '\f00d'
        }

        .sidr .sub-menu-toggle:before {
            content: '\f107'
        }

        .sidr .sub-menu-toggle-open:before {
            content: '\f106'
        }

        .search-me:before {
            content: '\f002'
        }

        .ssme-search:before {
            content: '\f002'
        }
    </style>
    <link rel='stylesheet' id='cookie-consent-style-css' href='https://handsonaswegrow.com/wp-content/plugins/uk-cookie-consent/assets/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='social_warfare-css' href='https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/css/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css' href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%7CDroid+Serif%3A400%2C400italic&#038;ver=2.1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='https://handsonaswegrow.com/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/ad-inserter/includes/js/ai-jquery.js'></script>
    <script type='text/javascript'>
        function ai_insert(insertion, selector, insertion_code) {
            Array.prototype.forEach.call(document.querySelectorAll(selector), function (element, index) {
                var ai_debug = typeof ai_debugging !== "undefined"; if (element.hasAttribute("id")) selector_string = "#" + element.getAttribute("id"); else if (element.hasAttribute("class")) selector_string = "." + element.getAttribute("class").replace(new RegExp(" ", "g"), "."); else selector_string = ""; var template = document.createElement("div"); template.innerHTML = insertion_code; var ai_selector_counter =
                    template.getElementsByClassName("ai-selector-counter")[0]; if (ai_selector_counter != null) ai_selector_counter.innerText = index + 1; var ai_debug_name_ai_main = template.getElementsByClassName("ai-debug-name ai-main")[0]; if (ai_debug_name_ai_main != null) ai_debug_name_ai_main.innerText = insertion.toUpperCase() + " " + selector + " (" + element.tagName.toLowerCase() + selector_string + ")"; var range = document.createRange(); var fragment = range.createContextualFragment(template.innerHTML); if (insertion == "before") element.parentNode.insertBefore(fragment,
                        element); else if (insertion == "after") element.parentNode.insertBefore(fragment, element.nextSibling); else if (insertion == "prepend") element.insertBefore(fragment, element.firstChild); else if (insertion == "append") element.insertBefore(fragment, null); else if (insertion == "replace-content") element.innerHTML = template.innerHTML; else if (insertion == "replace-element") { element.parentNode.insertBefore(fragment, element); element.parentNode.removeChild(element) } if (ai_debug) console.log("AI INSERT", insertion, selector, "(" +
                            element.tagName.toLowerCase() + selector_string + ")")
            })
        }
        function ai_insert_viewport(element) {
            function hasClass(element, cls) { if (element == null) return false; if (element.classList) return element.classList.contains(cls); else return (" " + element.className + " ").indexOf(" " + cls + " ") > -1 } function addClass(element, cls) { if (element == null) return; if (element.classList) element.classList.add(cls); else element.className += " " + cls } function removeClass(element, cls) {
                if (element == null) return; if (element.classList) element.classList.remove(cls); else element.className = element.className.replace(new RegExp("(^|\\b)" +
                    cls.split(" ").join("|") + "(\\b|$)", "gi"), " ")
            } var ai_debug = typeof ai_debugging !== "undefined"; if (ai_debug) console.log("AI VIEWPORT INSERTION:", "class='" + element.getAttribute("class") + "'"); var visible = !!(element.offsetWidth || element.offsetHeight || element.getClientRects().length); var block = element.getAttribute("data-block"); if (visible) {
                var insertion_code = element.getAttribute("data-code"); var insertion_type = element.getAttribute("data-insertion"); var selector = element.getAttribute("data-selector"); if (insertion_code !=
                    null) if (insertion_type != null && selector != null) { var selector_exists = document.querySelectorAll(selector).length; if (ai_debug) console.log("AI VIEWPORT VISIBLE: block", block, insertion_type, selector, selector_exists ? "" : "NOT FOUND"); if (selector_exists) { ai_insert(insertion_type, selector, b64d(insertion_code)); removeClass(element, "ai-viewports") } } else {
                        if (ai_debug) console.log("AI VIEWPORT VISIBLE: block", block); var range = document.createRange(); var fragment = range.createContextualFragment(b64d(insertion_code));
                        element.parentNode.insertBefore(fragment, element.nextSibling); removeClass(element, "ai-viewports")
                    }
            } else { if (ai_debug) console.log("AI VIEWPORT NOT VISIBLE: block", block); var debug_bar = element.previousElementSibling; if (hasClass(debug_bar, "ai-debug-bar") && hasClass(debug_bar, "ai-debug-script")) { removeClass(debug_bar, "ai-debug-script"); addClass(debug_bar, "ai-debug-viewport-invisible") } removeClass(element, "ai-viewports") }
        }
        function b64e(str) { return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function toSolidBytes(match, p1) { return String.fromCharCode("0x" + p1) })) } function b64d(str) { return decodeURIComponent(atob(str).split("").map(function (c) { return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2) }).join("")) };
    </script>
    <!--[if lt IE 9]>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/genesis/lib/js/html5shiv.min.js'></script>
    <![endif]-->
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/js/responsive-menu.js'></script>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/js/comments-toggle.js'></script>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/js/waypoints.min.js'></script>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/js/waypoints-sticky.min.js'></script>
    <script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/js/waypoints-sticky-init.js'></script>
    <link rel='https://api.w.org/' href='https://handsonaswegrow.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://handsonaswegrow.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://handsonaswegrow.com/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.8" />
    <link rel='shortlink' href='https://handsonaswegrow.com/' />
    <link rel="alternate" type="application/json+oembed" href="https://handsonaswegrow.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fhandsonaswegrow.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://handsonaswegrow.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fhandsonaswegrow.com%2F&#038;format=xml" />
    <script type="text/javascript">
        //<![CDATA[
        (function (html) {
            var c = html.className;
            c = c.replace(/\bno-js\b/, 'js');
            html.className = c;
        })(document.documentElement);
        //]]>
    </script>
    <style type="text/css">
        #tve_editor .ttfm1 {
            font-family: 'Droid Serif' !important;
            color: #333333;
            font-weight: 400 !important;
        }

        .ttfm1 input, .ttfm1 select, .ttfm1 textarea, .ttfm1 button {
            font-family: 'Droid Serif' !important;
            color: #333333;
            font-weight: 400 !important;
        }

        #tve_editor .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong {
            font-weight: 700 !important;
        }

            .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong input, .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong select, .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong textarea, .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong button {
                font-weight: 700 !important;
            }

        #tve_editor .ttfm2 {
            font-family: 'Source Sans Pro' !important;
            color: #333333;
            font-weight: 400 !important;
        }

        .ttfm2 input, .ttfm2 select, .ttfm2 textarea, .ttfm2 button {
            font-family: 'Source Sans Pro' !important;
            color: #333333;
            font-weight: 400 !important;
        }

        #tve_editor .ttfm2.bold_text, .ttfm2 .bold_text, .ttfm2 b, .ttfm2 strong {
            font-weight: 600 !important;
        }

            .ttfm2.bold_text, .ttfm2 .bold_text, .ttfm2 b, .ttfm2 strong input, .ttfm2.bold_text, .ttfm2 .bold_text, .ttfm2 b, .ttfm2 strong select, .ttfm2.bold_text, .ttfm2 .bold_text, .ttfm2 b, .ttfm2 strong textarea, .ttfm2.bold_text, .ttfm2 .bold_text, .ttfm2 b, .ttfm2 strong button {
                font-weight: 600 !important;
            }
    </style>
    <style id="ctcc-css" type="text/css" media="screen">
        #catapult-cookie-bar {
            box-sizing: border-box;
            max-height: 0;
            opacity: 0;
            z-index: 99999;
            overflow: hidden;
            color: #464646;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: #efefef;
        }

            #catapult-cookie-bar a {
                color: #cf0a2d;
            }

            #catapult-cookie-bar .x_close span {
                background-color: #ffffff;
            }

        button#catapultCookie {
            background: #1e4f6d;
            color: #ffffff;
            border: 0;
            padding: 6px 9px;
            border-radius: 3px;
        }

        #catapult-cookie-bar h3 {
            color: #464646;
        }

        .has-cookie-bar #catapult-cookie-bar {
            opacity: 1;
            max-height: 999px;
            min-height: 30px;
        }
    </style>
    <link rel="icon" href="https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/images/favicon.ico" />
    <link rel="pingback" href="https://handsonaswegrow.com/xmlrpc.php" />
    <meta name=\"msvalidate.01\" content=\"4C9089B6E5D496376B73AE52C159DEF5\" />

    <script type=\"text/javascript\">
        var trackcmp_email = \'\';
        var trackcmp = document.createElement(\"script\");
        trackcmp.async = true;
        trackcmp.type = \'text/javascript\';
        trackcmp.src = \'//trackcmp.net/visit?actid=25048070&e=\'+encodeURIComponent(trackcmp_email)+\'&r=\'+encodeURIComponent(document.referrer)+\'&u=\'+encodeURIComponent(window.location.href);
        var trackcmp_s = document.getElementsByTagName(\"script\");
        if (trackcmp_s.length) {
            trackcmp_s[0].parentNode.appendChild(trackcmp);
        } else {
            var trackcmp_h = document.getElementsByTagName(\"head\");
            trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
        }
    </script>

    <!-- start Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22627168-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-22627168-1');
    </script>

    <!-- end Google Analytics -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version =\'2.0\';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, \'script\',\'https://connect.facebook.net/en_US/fbevents.js\');

fbq(\'init\', \'203387910028031\');
fbq(\'track\', \"PageView\");</script>
    <noscript>
        <img height=\"1\" width=\"1\" style=\"display:none\"
             src=\"https://www.facebook.com/tr?id =203387910028031&ev =PageView&noscript =1\" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script async defer data-pin-hover=\"true\" data-pin-tall=\"true\" src=\"//assets.pinterest.com/js/pinit.js\"></script>
    <style type="text/css" id="wp-custom-css">
        /*
        You can add your own CSS here.

        Click the help icon above to learn more.
        */

        .welcome-box {
            margin-top: -100px;
        }
    </style>
    <style type='text/css'>
        .ai-viewport-3 {
            display: none !important;
        }

        .ai-viewport-2 {
            display: none !important;
        }

        .ai-viewport-1 {
            display: inherit !important;
        }

        .ai-viewport-0 {
            display: none !important;
        }

        @@media (min-width: 768px) and (max-width: 979px) {
            .ai-viewport-1 {
                display: none !important;
            }

            .ai-viewport-2 {
                display: inherit !important;
            }
        }

        @@media (max-width: 767px) {
            .ai-viewport-1 {
                display: none !important;
            }

            .ai-viewport-3 {
                display: inherit !important;
            }
        }
    </style>
</head>
<body class="home page-template-default page page-id-63451 ctcc-exclude-AF ctcc-exclude-AN ctcc-exclude-AS ctcc-exclude-NA ctcc-exclude-OC ctcc-exclude-SA adthrive-disable-all header-image header-full-width full-width-content" itemscope itemtype="https://schema.org/WebPage">
    <div class="site-container">
        <ul class="genesis-skip-link"><li><a href="#genesis-nav-primary" class="screen-reader-shortcut"> Skip to primary navigation</a></li><li><a href="#genesis-content" class="screen-reader-shortcut"> Skip to content</a></li></ul><div class="soliloquy-outer-container" data-soliloquy-loaded="0">
            <div aria-live="polite" id="soliloquy-container-63412" class="soliloquy-container soliloquy-transition-fade soliloquy-fade  soliloquy-theme-base" style="max-width:1400px;max-height:525px;margin:0 auto 0px;max-width:100%;max-height:none;"><ul id="soliloquy-63412" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear"><li aria-hidden="true" class="soliloquy-item soliloquy-item-1 soliloquy-id-63433 soliloquy-image-slide" draggable="false" style="list-style:none;"><img id="soliloquy-image-63433" class="soliloquy-image soliloquy-image-1" src="https://handsonaswegrow.com/wp-content/uploads/2016/10/hero-1-20150530-2-1400x525_c.jpg" alt="hero-1-20150530-2" /></li><li aria-hidden="true" class="soliloquy-item soliloquy-item-2 soliloquy-id-63434 soliloquy-image-slide" draggable="false" style="list-style:none;"><img id="soliloquy-image-63434" class="soliloquy-image soliloquy-image-2 soliloquy-preload" src="https://handsonaswegrow.com/wp-content/plugins/soliloquy/assets/css/images/holder.gif" data-soliloquy-src="https://handsonaswegrow.com/wp-content/uploads/2016/10/hero-2-20160206-2-1400x525_c.jpg" alt="hero-2-20160206-2" /></li><li aria-hidden="true" class="soliloquy-item soliloquy-item-3 soliloquy-id-63436 soliloquy-image-slide" draggable="false" style="list-style:none;"><img id="soliloquy-image-63436" class="soliloquy-image soliloquy-image-3 soliloquy-preload" src="https://handsonaswegrow.com/wp-content/plugins/soliloquy/assets/css/images/holder.gif" data-soliloquy-src="https://handsonaswegrow.com/wp-content/uploads/2016/10/hero-3-20150223-6805-2-1400x525_c.jpg" alt="hero-3-20150223-6805-2" /></li></ul></div><noscript>
                <style type="text/css" scoped>
                    #soliloquy-container-63412 {
                        opacity: 1
                    }

                        #soliloquy-container-63412 li > .soliloquy-caption {
                            display: none
                        }

                        #soliloquy-container-63412 li:first-child > .soliloquy-caption {
                            display: block
                        }
                </style><div class="soliloquy-no-js" style="display:none;visibility:hidden;height:0;line-height:0;opacity:0;"><img class="soliloquy-image soliloquy-no-js-image" src="https://handsonaswegrow.com/wp-content/uploads/2016/10/hero-1-20150530-2.jpg" alt="hero-1-20150530-2" /><img class="soliloquy-image soliloquy-no-js-image" src="https://handsonaswegrow.com/wp-content/uploads/2016/10/hero-2-20160206-2.jpg" alt="hero-2-20160206-2" /><img class="soliloquy-image soliloquy-no-js-image" src="https://handsonaswegrow.com/wp-content/uploads/2016/10/hero-3-20150223-6805-2.jpg" alt="hero-3-20150223-6805-2" /></div>
            </noscript>
        </div>

        <header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
            <div class="wrap">
                <div class="menu-social-container">
                    <ul id="menu-header" class="menu genesis-nav-menu menu-header-social">
                        <li id="menu-item-49015" class="fa fa-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-49015"><a asp-page="/Index">Home</a></li>
                        <li id="menu-item-49922" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49922"><a asp-page="/StartHere" itemprop="url">Start Here</a></li>
                        <li id="menu-item-49164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49164"><a asp-page="/About">About</a></li>
                        <li id="menu-item-62053" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62053"><a asp-page="/ActivityPlans">Activity Plans</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62053"><partial name="_LoginPartial" /></li>
                       

                    </ul>

                </div><div class="title-area"><p class="site-title" itemprop="headline"><a href="https://handsonaswegrow.com/">Hands On As We Grow®</a></p><p class="site-description" itemprop="description">Hands on kids activities for hands on moms. Focusing on kids activities perfect for toddlers and preschoolers.</p></div>
                <div class="header-cta">
                    <h3>Ready for fun with your kids?</h3>
                    <p>GET SIMPLE ACTIVITIES TO DO WITH THEM!</p>
                </div>

            </div>
        </header>

        <div class="header-offers">
            <div class="wrap">
                <div class="header-offer1">
                    <p>Take the FREE 7-Day Activity Challenge</p>
                    <a href="https://room.handsonaswegrow.com/get-started-challenge?utm_campaign=general-intro&utm_medium=hoawg&utm_source=everyday-challenge&utm_content=yesimready-C20&utm_term=homepage-header">Yes! I'm Ready</a>
                </div>
                <div class="header-offer2">
                    <p>Get Activity Plans Every Week in The Activity Room</p>
                    <a asp-area="Identity" asp-page="/Account/Register">Join Now</a>
                </div>
            </div>
        </div>

    </div>



    <!--default-->
    <partial name="_CookieConsentPartial" /> <!--not necessary -->

    <div class="container body-content">
        @RenderBody()

        <footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
            <div class="wrap">
                <div class="menu-social-container">
                    <ul id="menu-social" class="menu genesis-nav-menu menu-footer-social">
                        <li id="menu-item-49034" class="fa fa-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-49034"><a target="_blank" href="http://www.facebook.com/handsonaswegrow" itemprop="url">facebook</a></li>
                        <li id="menu-item-49035" class="fa fa-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-49035"><a target="_blank" href="https://twitter.com/handsonaswegrow" itemprop="url">twitter</a></li>
                        <li id="menu-item-49036" class="fa fa-pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-49036"><a target="_blank" href="http://pinterest.com/handsonaswegrow/" itemprop="url">pinterest</a></li>
                        <li id="menu-item-49037" class="fa fa-google-plus menu-item menu-item-type-custom menu-item-object-custom menu-item-49037"><a target="_blank" href="https://plus.google.com/u/0/+JamieReimer/" itemprop="url">google plus</a></li>
                    </ul>
                </div><div class="menu-home-footer-container">
                    <ul id="menu-home-footer" class="menu genesis-nav-menu menu-home-footer">
                        <li id="menu-item-49141" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49141"><a href="https://handsonaswegrow.com/activities/toddler-activities/" itemprop="url">Toddler Activities</a></li>
                        <li id="menu-item-49140" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49140"><a href="https://handsonaswegrow.com/activities/preschool-activities/" itemprop="url">Preschooler Activities</a></li>
                        <li id="menu-item-49142" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49142"><a href="https://handsonaswegrow.com/crafts/" itemprop="url">Simple Kid Crafts</a></li>
                        <li id="menu-item-49147" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49147"><a href="https://handsonaswegrow.com/kids-art-projects/" itemprop="url">Kid Art Projects</a></li>
                        <li id="menu-item-49143" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49143"><a href="https://handsonaswegrow.com/kids-activities/fine-motor-activities/" itemprop="url">Fine Motor Skills</a></li>
                        <li id="menu-item-49144" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49144"><a href="https://handsonaswegrow.com/kids-activities/gross-motor-activities/" itemprop="url">Gross Motor Skills</a></li>
                        <li id="menu-item-49146" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49146"><a href="https://handsonaswegrow.com/kids-activities/learning-activities/" itemprop="url">Hands on Learning</a></li>
                        <li id="menu-item-49145" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49145"><a href="https://handsonaswegrow.com/holidays-seasons/holidays/" itemprop="url">Holidays &#038; Seasonal</a></li>
                    </ul>
                </div><div class="menu-footer-container">
                    <ul id="menu-footer" class="menu genesis-nav-menu menu-footer">
                        <li id="menu-item-49026" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-49026"><a asp-page="./Index" itemprop="url">Home</a></li>
                        <li id="menu-item-49165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49165"><a asp-page="./About" itemprop="url">About</a></li>
                        <li id="menu-item-57351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57351"><a asp-page="./Contact" itemprop="url">Contact</a></li>
                        <li id="menu-item-49029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49029"><a href="https://handsonaswegrow.com/email-signup/" itemprop="url">Subscribe</a></li>
                        <li id="menu-item-49028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49028"><a href="https://handsonaswegrow.com/advertise/" itemprop="url">Advertise</a></li>
                        <li id="menu-item-70121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70121"><a href="http://room.handsonaswegrow.com/affiliate-area/" itemprop="url">Affiliates</a></li>
                        <li id="menu-item-49031" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49031"><a href="https://handsonaswegrow.com/about/disclosures/" itemprop="url">Disclosure</a></li>
                        <li id="menu-item-73522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73522"><a href="https://handsonaswegrow.com/privacy-policy/" itemprop="url">Privacy Policy</a></li>
                        <li id="menu-item-49032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49032"><a href="https://handsonaswegrow.com/about/disclosures/official-giveaway-rules/" itemprop="url">Giveaway Rules</a></li>
                        <li id="menu-item-49033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49033"><a href="https://handsonaswegrow.com/resources/" itemprop="url">Resources</a></li>
                        <li id="menu-item-49496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49496"><a href="https://handsonaswegrow.com/sitemap/" itemprop="url">Sitemap</a></li>
                    </ul>
                </div>
                <div class="creds">
                    <p>Copyright &copy; 2018 Hands On: As We Grow • All Rights Reserved • Site Design by <a href="https://www.emilywhitedesigns.com/" title="Emily White Designs">Emily White Designs</a></p>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
