@page
@model WebSiteRazorPages.Pages.StartHereModel
@{
    ViewData["Title"] = "StartHere";
}

<h2>StartHere</h2>



<nav class="nav-sticky">
    <div class="wrap">
        <ul id="menu-sticky-nav" class="menu genesis-nav-menu menu-sticky js-superfish">
            <li id="menu-item-49024" class="menu-sticky-home menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-49024"><a href="https://handsonaswegrow.com/" itemprop="url">Home</a></li>
            <li id="menu-item-56180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-56180">
                <a href="https://handsonaswegrow.com/activities-by-age/" itemprop="url">Activities By Age</a>
                <ul class="sub-menu">
                    <li id="menu-item-49122" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49122"><a href="https://handsonaswegrow.com/activities/baby-play/" itemprop="url">Baby</a></li>
                    <li id="menu-item-49126" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49126"><a href="https://handsonaswegrow.com/activities/toddler-activities/" itemprop="url">Toddlers</a></li>
                    <li id="menu-item-49125" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49125"><a href="https://handsonaswegrow.com/activities/preschool-activities/" itemprop="url">Preschoolers</a></li>
                    <li id="menu-item-49124" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49124"><a href="https://handsonaswegrow.com/activities/kindergarten-activities/" itemprop="url">Kindergartners</a></li>
                    <li id="menu-item-49123" class="menu-item menu-item-type-taxonomy menu-item-object-age menu-item-49123"><a href="https://handsonaswegrow.com/activities/grade-school/" itemprop="url">Grade School</a></li>
                </ul>
            </li>
            <li id="menu-item-49115" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-49115">
                <a href="https://handsonaswegrow.com/kids-activities/learning-activities/" itemprop="url">Learning</a>
                <ul class="sub-menu">
                    <li id="menu-item-49116" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49116"><a href="https://handsonaswegrow.com/kids-activities/learning-activities/literacy/" itemprop="url">Literacy &#038; ABCs</a></li>
                    <li id="menu-item-49117" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49117"><a href="https://handsonaswegrow.com/kids-activities/learning-activities/math/" itemprop="url">Math &#038; 123s</a></li>
                    <li id="menu-item-49118" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49118"><a href="https://handsonaswegrow.com/kids-activities/learning-activities/science/" itemprop="url">Science</a></li>
                    <li id="menu-item-49119" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49119"><a href="https://handsonaswegrow.com/kids-activities/learning-activities/cognitive-activities/" itemprop="url">Thinking</a></li>
                    <li id="menu-item-49121" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49121"><a href="https://handsonaswegrow.com/kids-activities/learning-activities/sensory/" itemprop="url">Sensory</a></li>
                </ul>
            </li>
            <li id="menu-item-49127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-49127">
                <a href="#" itemprop="url">Creativity</a>
                <ul class="sub-menu">
                    <li id="menu-item-49110" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49110"><a href="https://handsonaswegrow.com/kids-art-projects/" itemprop="url">Art</a></li>
                    <li id="menu-item-49111" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49111"><a href="https://handsonaswegrow.com/crafts/" itemprop="url">Crafts</a></li>
                    <li id="menu-item-49114" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49114"><a href="https://handsonaswegrow.com/holidays-seasons/holidays/" itemprop="url">Holidays</a></li>
                    <li id="menu-item-49120" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49120"><a href="https://handsonaswegrow.com/holidays-seasons/seasonal/" itemprop="url">Seasonal</a></li>
                </ul>
            </li>
            <li id="menu-item-49113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49113"><a href="https://handsonaswegrow.com/kids-activities/gross-motor-activities/" itemprop="url">Gross Motor</a></li>
            <li id="menu-item-49112" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49112"><a href="https://handsonaswegrow.com/kids-activities/fine-motor-activities/" itemprop="url">Fine Motor</a></li>
            <li class="right search">
                <form method="get" class="searchform search-form" action="https://handsonaswegrow.com/search">
                    <input type="text" value="Search this website" name="q" class="s search-input" onfocus="if (this.value == 'Search this website') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search this website';}" />
                    <input type="submit" class="searchsubmit search-submit" value="&#xf002;" />
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="site-inner">
    <div class="wrap">
        <div class="content-sidebar-wrap">
            <main class="content" id="genesis-content">
                <article class="post-12887 page type-page status-publish has-post-thumbnail entry gs-1 gs-odd gs-even gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork">
                    <header class="entry-header">
                        <h1 class="entry-title" itemprop="headline">Looking for Simple, Fun Things to Do with Your Kids?</h1>
                    </header><div class="entry-content" itemprop="text">
                        <p>Hands On As We Grow has activities, crafts and art projects for kids up to school age, and even into their beginning years of school. You&#8217;ll find fun things to do with them, crafty ideas, and easy ways to make learning fun.</p>
                        <h2>Explore Hands On As We Grow and Starting Creating Magic Moments Right Away!</h2>
                        <ol>
                            <li><a href="https://handsonaswegrow.com/email-signup/">Get the Free Weekly Activities Planner</a> when you sign up for weekly activities by email.</li>
                            <li>Check out the <a title="Resources for Activities" href="https://handsonaswegrow.com/resources/">resource section</a> to find activities for every age, theme, season and holiday.</li>
                            <li>Save tons of time and stress looking for and planning activities to keep them busy and become a member of <a href="http://room.handsonaswegrow.com/activity-plans/" target="_blank">The Activity Room</a> to continually g<span class="bold_text">et pre-planned, no-hassle activities </span>for toddlers or preschoolers delivered right to your inbox, every week. Or get started with a set of weekly plans <a title="Weekly Activity Plans eBooks" href="http://room.handsonaswegrow.com/shop/" target="_blank">with the eBooks</a> to begin engaging with educational activities that help <span class="bold_text">create magical moments together.</span></li>
                        </ol>
                        <h2><img class="alignleft wp-image-47744 size-thumbnail" src="https://handsonaswegrow.com/wp-content/uploads/jamie-headshot-1-285x189.jpg" alt="Jamie Reimer of hands on : as we grow" width="285" height="189" />About Me:</h2>
                        <p>I&#8217;m Jamie, the mom behind the scenes here. I have three boys that are crazy energetic and we like to have fun!</p>
                        <p>Get to know <a title="Meet Jamie!" href="https://handsonaswegrow.com/jamie-reimer/">me and my family</a> or read <a href="https://handsonaswegrow.com/about/about-us/">about Hands On As We Grow</a>.</p>
                        <span id="tve_leads_end_content" style="display: block; visibility: hidden; border: 1px solid transparent;"></span><span style="display:none" class="tl-placeholder-f-type-post_footer"></span><div class="swp-content-locator"></div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div><div class="meet-testimonials">
    <div class="meet-jamie widget-area">
        <section id="text-183" class="widget widget_text">
            <div class="widget-wrap">
                <div class="textwidget">
                    <img src="https://handsonaswegrow.com/wp-content/uploads/2016/10/jamie.png">
                    <a href="https://handsonaswegrow.com/about/about-us/">Meet Jamie</a>
                </div>
            </div>
        </section>
    </div><div class="vertical-testimonials widget-area">
        <section id="verticalmarquee-2" class="widget vm_widget">
            <div class="widget-wrap">
                <h4 class="widget-title widgettitle"><span>What Parents Have to Say&#8230;</span></h4>
                <div style='padding:3px;'>
                    <marquee style='height:150px;' scrollamount='2' scrolldelay='5' direction='up' onmouseover='this.stop()' onmouseout='this.start()'>
                        There's <em>always</em> something new for us to discover, as well as old favorites. I am so grateful to have activities handed to us... <strong>Fun and easy ones that can be put together in a moment's notice!</strong> You're awesome Jamie and I appreciate you sharing your activities and ideas!! <span> - Melissa C.</span>   <br /><br />   <a target='_blank' href='http://theactivityroom.com/'>"I absolutely love that this <strong>takes all the prep work out of engaging my children.</strong> It is so easy to just put up the calendar, and glance at it for inspiration when we are in a funk." <span>- The Activity Room Member, Rachel</span></a><br />   <br /><br />   <a target='_blank' href='http://room.handsonaswegrow.com/shop/'>I have found it impossible to Google ideas from a million different sites, get organized, shop for supplies, etc. <strong>This is exactly what I have been searching for!</strong> Thanks for making something so organized and easy to use. <span> - Early Years Activity Plans User, Melissa C.</span></a><br />   <br /><br />   <a target='_blank' href='http://room.handsonaswegrow.com/shop/'>
                            <strong>This takes down the need to scour the internet for ideas.</strong> It's like looking for a recipe on the internet, so many options that often times it is less overwhelming to look in a book on the shelf than stress about too many options. <span>- Early Years Activity Plans User, Robyn G</span>
                        </a><br />   <br /><br />   <a target='_blank' href='http://room.handsonaswegrow.com/super-parent'>Thank you so much for these activities. They have proven to me that <strong>I CAN be that mom that does cool and creative things with her kids!</strong> And those cool and creative things can actually be quite simple! What a revelation. Thank you!! <span>- 7 Day Challenge, Katie M.</span></a><br />   <br /><br />   I feel like a new mama having so many fun ideas. I used to dread the afternoon, after naps, as it was so boring doing the same thing day after day but <strong>now I look forward to our "play" time!</strong> <span>- Haley S.</span>   <br /><br />   <Strong>You have changed how I spend time with my kid in so many positive ways!</Strong> I am now one happy dad that no longer wonders what I am going to do with this little guy for the next 12 hours :P Your site was this first time dad life saver! <span>- Jack C.</span>   <br /><br />   It is hard to think of things to keep the 3 year old entertained and engaged while taking care of the baby. Everything we have tried so far from your website, the three year old has loved. <strong>Your ideas are so simple and he can do them for hours. HEAVEN!</strong> <span>- Karen I.</span>
                    </marquee>
                </div>
            </div>
        </section>
    </div>
</div><div class="ewd-ebooks-widget widget-area">
    <div class="wrap">
        <section id="ewd_ebooks-2" class="widget widget_ewd_ebooks">
            <div class="widget-wrap">
                <h4 class="widget-title widgettitle"><span>Create Special Moments Together with Pre-Planned Activities!</span></h4>

                <div class="ebook">
                    <a href="http://room.handsonaswegrow.com/shop/discover/">
                        <img src="https://handsonaswegrow.com/wp-content/uploads/2016/10/discover.jpg">
                    </a>
                </div>
                <div class="ebook">
                    <a href="http://room.handsonaswegrow.com/shop/play">
                        <img src="https://handsonaswegrow.com/wp-content/uploads/2016/10/play.jpg">
                    </a>
                </div>
                <div class="ebook">
                    <a href="http://room.handsonaswegrow.com/shop/engage">
                        <img src="https://handsonaswegrow.com/wp-content/uploads/2016/10/engage.jpg">
                    </a>
                </div>
                <div class="ebook">
                    <a href="http://room.handsonaswegrow.com/shop/learn">
                        <img src="https://handsonaswegrow.com/wp-content/uploads/2016/10/learn.jpg">
                    </a>
                </div>
                <div class="shop-now"><a href="https://room.handsonaswegrow.com/shop/">Shop Now</a></div>
            </div>
        </section>
    </div>
</div><div class="ewd-promotion-widget-1 widget-area">
    <div class="wrap">
        <section id="ewd_promotion-2" class="widget widget_ewd_promotion">
            <div class="widget-wrap">
                <h4 class="widget-title widgettitle"><span>Get activity plans delivered to your inbox, every week!</span></h4>

                <a href="http://room.handsonaswegrow.com/join-room/?utm_source=handsonaswegrow&utm_medium=button&utm_campaign=ALLPages-EWD-PromotionWidget">JOIN NOW</a>
            </div>
        </section>
    </div>
</div><div class="ewd-popular-posts widget-area">
    <div class="wrap">
        <section id="featured-content-8" class="featured-content-dont-miss-these-popular-blog-posts featuredpost widget featured-content">
            <div class="featured-content-dont-miss-these-popular-blog-posts featuredpost widget-wrap">
                <h4 class="widget-title widgettitle"><span>Don&#8217;t miss these posts other hands on parents love:</span></h4>
                <article class="post-40683 post type-post status-publish format-standard has-post-thumbnail category-gross-motor-activities category-popular tag-latest-resources age-toddler-activities entry gs-1 gs-odd gs-even gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://handsonaswegrow.com/physical-activities-toddlers/" title="Physical Activities for Toddlers with Lots of Energy" class="alignnone"><img width="285" height="428" src="https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-285x428.jpg" class="entry-image attachment-post gsfc-alignnone" alt="Lots of energy burning activities -- physical activities for toddlers" itemprop="image" srcset="https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-285x428.jpg 285w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-433x650.jpg 433w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-273x409.jpg 273w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-300x450.jpg 300w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-100x150.jpg 100w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-200x300.jpg 200w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1-138x207.jpg 138w, https://handsonaswegrow.com/wp-content/uploads/physical-activities-for-toddlers-energy-1.jpg 532w" sizes="(max-width: 285px) 100vw, 285px" /></a><h2 class="entry-title"><a href="https://handsonaswegrow.com/physical-activities-toddlers/" title="Physical Activities for Toddlers with Lots of Energy">Physical Activities for Toddlers with Lots of Energy</a></h2></article><article class="post-55876 post type-post status-publish format-standard has-post-thumbnail category-popular category-science tag-experiment age-2-year-olds age-4-year-olds age-7-year-olds age-kindergarten-activities entry gs-2 gs-even gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://handsonaswegrow.com/how-make-lava-lamp-without-alka-seltzer/" title="How to Make a Lava Lamp Without Alka Seltzer" class="alignnone"><img width="285" height="428" src="https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-285x428.jpg" class="entry-image attachment-post gsfc-alignnone" alt="" itemprop="image" srcset="https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-285x428.jpg 285w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-433x650.jpg 433w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-273x409.jpg 273w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-300x450.jpg 300w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-100x150.jpg 100w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-200x300.jpg 200w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2-138x207.jpg 138w, https://handsonaswegrow.com/wp-content/uploads/2015/05/feature-lava-lamp-no-alka-2.jpg 600w" sizes="(max-width: 285px) 100vw, 285px" /></a><h2 class="entry-title"><a href="https://handsonaswegrow.com/how-make-lava-lamp-without-alka-seltzer/" title="How to Make a Lava Lamp Without Alka Seltzer">How to Make a Lava Lamp Without Alka Seltzer</a></h2></article><article class="post-56905 post type-post status-publish format-standard has-post-thumbnail category-fine-motor-activities category-popular category-sensory tag-buttons tag-colors tag-sorting age-2-year-olds age-4-year-olds age-7-year-olds age-kindergarten-activities entry gs-3 gs-odd gs-even gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://handsonaswegrow.com/color-sorting-sensory-bag/" title="Make a Super Easy Squishy Color Sorting Sensory Bag with Your Kids!" class="alignnone"><img width="285" height="428" src="https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-285x428.jpg" class="entry-image attachment-post gsfc-alignnone" alt="" itemprop="image" srcset="https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-285x428.jpg 285w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-433x650.jpg 433w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-273x409.jpg 273w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-300x450.jpg 300w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-100x150.jpg 100w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-200x300.jpg 200w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1-138x207.jpg 138w, https://handsonaswegrow.com/wp-content/uploads/2015/08/color-sorting-sensory-bag-feature-1.jpg 600w" sizes="(max-width: 285px) 100vw, 285px" /></a><h2 class="entry-title"><a href="https://handsonaswegrow.com/color-sorting-sensory-bag/" title="Make a Super Easy Squishy Color Sorting Sensory Bag with Your Kids!">Make a Super Easy Squishy Color Sorting Sensory Bag with Your Kids!</a></h2></article><article class="post-318 post type-post status-publish format-standard has-post-thumbnail category-fine-motor-activities category-popular tag-favorites tag-latest-resources age-preschool-activities age-toddler-activities entry gs-4 gs-even gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://handsonaswegrow.com/fine-motor-skills-activities/" title="Promote Fine Motor Skills with 30 Materials &#038; Activities" class="alignnone"><img width="285" height="428" src="https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-285x428.jpg" class="entry-image attachment-post gsfc-alignnone" alt="30 fun ways to promote fine motor skills" itemprop="image" srcset="https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-285x428.jpg 285w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-433x650.jpg 433w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-273x409.jpg 273w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-300x450.jpg 300w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-100x150.jpg 100w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-200x300.jpg 200w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES-138x207.jpg 138w, https://handsonaswegrow.com/wp-content/uploads/30-FINE-MOTOR-SKILLS-ACTIVITIES.jpg 532w" sizes="(max-width: 285px) 100vw, 285px" /></a><h2 class="entry-title"><a href="https://handsonaswegrow.com/fine-motor-skills-activities/" title="Promote Fine Motor Skills with 30 Materials &#038; Activities">Promote Fine Motor Skills with 30 Materials &#038; Activities</a></h2></article><article class="post-20283 post type-post status-publish format-standard has-post-thumbnail category-gross-motor-activities category-popular tag-latest-resources tag-scavenger-hunts-for-kids age-activities entry gs-5 gs-odd gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://handsonaswegrow.com/32-ways-kids-can-go-on-scavenger-hunts/" title="32 Scavenger Hunt Ideas for Kids To Do" class="alignnone"><img width="285" height="428" src="https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-285x428.jpg" class="entry-image attachment-post gsfc-alignnone" alt="32 scavenger hunt ideas for kids!" itemprop="image" srcset="https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-285x428.jpg 285w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-433x650.jpg 433w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-273x409.jpg 273w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-300x450.jpg 300w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-100x150.jpg 100w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-200x300.jpg 200w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8-138x207.jpg 138w, https://handsonaswegrow.com/wp-content/uploads/2013/04/32-scavenger-hunt-ideas-for-kids-20150310-8.jpg 532w" sizes="(max-width: 285px) 100vw, 285px" /></a><h2 class="entry-title"><a href="https://handsonaswegrow.com/32-ways-kids-can-go-on-scavenger-hunts/" title="32 Scavenger Hunt Ideas for Kids To Do">32 Scavenger Hunt Ideas for Kids To Do</a></h2></article><article class="post-12851 post type-post status-publish format-standard has-post-thumbnail category-popular category-sensory tag-latest-resources age-toddler-activities entry gs-6 gs-even gs-featured-content-entry" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://handsonaswegrow.com/sensory-activities-for-kids/" title="25 Sensory Activities for Kids" class="alignnone"><img width="285" height="428" src="https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-285x428.jpg" class="entry-image attachment-post gsfc-alignnone" alt="25 sensory activities for kids to explore - these are perfect for little ones!" itemprop="image" srcset="https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-285x428.jpg 285w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-433x650.jpg 433w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-273x409.jpg 273w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-300x450.jpg 300w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-100x150.jpg 100w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-200x300.jpg 200w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2-138x207.jpg 138w, https://handsonaswegrow.com/wp-content/uploads/2013/02/sensory-activities-for-kids-2.jpg 532w" sizes="(max-width: 285px) 100vw, 285px" /></a><h2 class="entry-title"><a href="https://handsonaswegrow.com/sensory-activities-for-kids/" title="25 Sensory Activities for Kids">25 Sensory Activities for Kids</a></h2></article>
            </div>
        </section>
    </div>
</div><div class="ewd-promotion-widget-2 widget-area">
    <div class="wrap">
        <section id="ewd_promotion-3" class="widget widget_ewd_promotion">
            <div class="widget-wrap">
                <h4 class="widget-title widgettitle"><span>Ready for fun with your kids?</span></h4>
                <p>
                    PLAN THE FUN WITH THE FREE KIDS ACTIVITIES PLANNER!<br />
                    AND RECEIVE ACTIVITIES EVERY WEEK!
                </p>
                <a href="https://handsonaswegrow.com/email-signup/">I'm Ready</a>
            </div>
        </section>
    </div>
</div>
<footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
    <div class="wrap">
        <div class="menu-social-container">
            <ul id="menu-social" class="menu genesis-nav-menu menu-footer-social">
                <li id="menu-item-49034" class="fa fa-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-49034"><a target="_blank" href="http://www.facebook.com/handsonaswegrow" itemprop="url">facebook</a></li>
                <li id="menu-item-49035" class="fa fa-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-49035"><a target="_blank" href="https://twitter.com/handsonaswegrow" itemprop="url">twitter</a></li>
                <li id="menu-item-49036" class="fa fa-pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-49036"><a target="_blank" href="http://pinterest.com/handsonaswegrow/" itemprop="url">pinterest</a></li>
                <li id="menu-item-49037" class="fa fa-google-plus menu-item menu-item-type-custom menu-item-object-custom menu-item-49037"><a target="_blank" href="https://plus.google.com/u/0/+JamieReimer/" itemprop="url">google plus</a></li>
            </ul>
        </div><div class="menu-footer-container">
            <ul id="menu-footer" class="menu genesis-nav-menu menu-footer">
                <li id="menu-item-49026" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-49026"><a href="https://handsonaswegrow.com/" itemprop="url">Home</a></li>
                <li id="menu-item-49165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49165"><a href="https://handsonaswegrow.com/about/about-us/" itemprop="url">About</a></li>
                <li id="menu-item-57351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57351"><a href="https://handsonaswegrow.com/about/contact-jamie/" itemprop="url">Contact</a></li>
                <li id="menu-item-49029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49029"><a href="https://handsonaswegrow.com/email-signup/" itemprop="url">Subscribe</a></li>
                <li id="menu-item-49028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49028"><a href="https://handsonaswegrow.com/advertise/" itemprop="url">Advertise</a></li>
                <li id="menu-item-70121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70121"><a href="http://room.handsonaswegrow.com/affiliate-area/" itemprop="url">Affiliates</a></li>
                <li id="menu-item-49031" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49031"><a href="https://handsonaswegrow.com/about/disclosures/" itemprop="url">Disclosure</a></li>
                <li id="menu-item-73522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73522"><a href="https://handsonaswegrow.com/privacy-policy/" itemprop="url">Privacy Policy</a></li>
                <li id="menu-item-49032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49032"><a href="https://handsonaswegrow.com/about/disclosures/official-giveaway-rules/" itemprop="url">Giveaway Rules</a></li>
                <li id="menu-item-49033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49033"><a href="https://handsonaswegrow.com/resources/" itemprop="url">Resources</a></li>
                <li id="menu-item-49496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49496"><a href="https://handsonaswegrow.com/sitemap/" itemprop="url">Sitemap</a></li>
            </ul>
        </div>
        <div class="creds">
            <p>Copyright &copy; 2018 Hands On: As We Grow • All Rights Reserved • Site Design by <a href="https://www.emilywhitedesigns.com/" title="Emily White Designs">Emily White Designs</a></p>
        </div>
    </div>
</footer>
</div>
<script>
setTimeout (function() {Array.prototype.forEach.call (document.querySelectorAll (".ai-viewports"), function (element, index) {ai_insert_viewport (element);});}, 10);

</script>
<meta name="google-site-verification" content="1_cZasDUfL6pRiGGUE6rqwSZJ9B2YjMsxFV1ShzWs2E" />
<a href='https://app.linqia.com/r/AjqGCSbY'><img src='https://linqia.ooh.li/badge/911a18f1acab/linqia_1.png'></a>
<script type='text/javascript' src='https://linqia.ooh.li/911a18f1acab/linqia.js'></script>
<script type="text/javascript">
        jQuery(function($) {
			$('a.top').click(function() {
            	$('html, body').animate({scrollTop:0}, 'slow');
				return false;
        	});
        });
</script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/superside-me/includes/js/sidr.me.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var SuperSideMeVar = {"location":"","close":"<button class=\"menu-close\" role=\"button\" aria-pressed=\"false\" aria-label=\"Close Navigation\">Close<\/button>","displace":"1","closeevent":".menu-close","side":"right","menus":["<h3 class=\"screen-reader-text\">SuperSide Me Navigation Menu<\/h3><li id=\"menu-item-63370\" class=\"fa fa-home menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-63370\"><a href=\"https:\/\/handsonaswegrow.com\/\" itemprop=\"url\">Home<\/a><\/li>\n<li id=\"menu-item-63371\" class=\"menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12887 current_page_item menu-item-63371\"><a href=\"https:\/\/handsonaswegrow.com\/new\/\" itemprop=\"url\">Start Here<\/a><\/li>\n<li id=\"menu-item-63394\" class=\"menu-offer1 menu-item menu-item-type-custom menu-item-object-custom menu-item-63394\"><a target=\"_blank\" href=\"http:\/\/room.handsonaswegrow.com\/join-room\/?utm_source=handsonaswegrow&#038;utm_medium=button&#038;utm_campaign=homepage-menuoffer\" itemprop=\"url\">JOIN NOW<\/a><\/li>\n<li id=\"menu-item-63372\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-63372\"><a href=\"https:\/\/handsonaswegrow.com\/about\/about-us\/\" itemprop=\"url\">About<\/a><\/li>\n<li id=\"menu-item-63373\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-63373\"><a href=\"https:\/\/handsonaswegrow.com\/resources\/\" itemprop=\"url\">Resources for Activities<\/a><\/li>\n<li id=\"menu-item-63374\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-63374\"><a href=\"https:\/\/room.handsonaswegrow.com\/shop\/\" itemprop=\"url\">Shop Activity Plans<\/a><\/li>\n<li id=\"menu-item-63375\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-63375\"><a href=\"https:\/\/handsonaswegrow.com\/email-signup\/\" itemprop=\"url\">Newsletter<\/a><\/li>\n<li id=\"menu-item-63376\" class=\"menu-item menu-item-type-taxonomy menu-item-object-age menu-item-has-children menu-item-63376\"><a href=\"https:\/\/handsonaswegrow.com\/activities\/activities\/\" itemprop=\"url\">Activities By Age<\/a>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-63381\" class=\"menu-item menu-item-type-taxonomy menu-item-object-age menu-item-63381\"><a href=\"https:\/\/handsonaswegrow.com\/activities\/baby-play\/\" itemprop=\"url\">Baby<\/a><\/li>\n\t<li id=\"menu-item-63378\" class=\"menu-item menu-item-type-taxonomy menu-item-object-age menu-item-63378\"><a href=\"https:\/\/handsonaswegrow.com\/activities\/toddler-activities\/\" itemprop=\"url\">Toddlers<\/a><\/li>\n\t<li id=\"menu-item-63377\" class=\"menu-item menu-item-type-taxonomy menu-item-object-age menu-item-63377\"><a href=\"https:\/\/handsonaswegrow.com\/activities\/preschool-activities\/\" itemprop=\"url\">Preschoolers<\/a><\/li>\n\t<li id=\"menu-item-63379\" class=\"menu-item menu-item-type-taxonomy menu-item-object-age menu-item-63379\"><a href=\"https:\/\/handsonaswegrow.com\/activities\/kindergarten-activities\/\" itemprop=\"url\">Kindergartners<\/a><\/li>\n\t<li id=\"menu-item-63380\" class=\"menu-item menu-item-type-taxonomy menu-item-object-age menu-item-63380\"><a href=\"https:\/\/handsonaswegrow.com\/activities\/grade-school\/\" itemprop=\"url\">Grade School<\/a><\/li>\n<\/ul>\n<\/li>\n<li id=\"menu-item-63382\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-63382\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/learning-activities\/\" itemprop=\"url\">Learning<\/a>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-63383\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63383\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/learning-activities\/literacy\/\" itemprop=\"url\">Literacy &#038; ABCs<\/a><\/li>\n\t<li id=\"menu-item-63384\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63384\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/learning-activities\/science\/\" itemprop=\"url\">Science<\/a><\/li>\n\t<li id=\"menu-item-63385\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63385\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/learning-activities\/sensory\/\" itemprop=\"url\">Sensory<\/a><\/li>\n\t<li id=\"menu-item-63386\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63386\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/learning-activities\/cognitive-activities\/\" itemprop=\"url\">Thinking<\/a><\/li>\n<\/ul>\n<\/li>\n<li id=\"menu-item-63387\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-63387\"><a href=\"#\" itemprop=\"url\">Creativity<\/a>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-63389\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63389\"><a href=\"https:\/\/handsonaswegrow.com\/kids-art-projects\/\" itemprop=\"url\">Art<\/a><\/li>\n\t<li id=\"menu-item-63388\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63388\"><a href=\"https:\/\/handsonaswegrow.com\/crafts\/\" itemprop=\"url\">Crafts<\/a><\/li>\n\t<li id=\"menu-item-63391\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63391\"><a href=\"https:\/\/handsonaswegrow.com\/holidays-seasons\/holidays\/\" itemprop=\"url\">Holidays<\/a><\/li>\n\t<li id=\"menu-item-63390\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63390\"><a href=\"https:\/\/handsonaswegrow.com\/holidays-seasons\/seasonal\/\" itemprop=\"url\">Seasonal<\/a><\/li>\n<\/ul>\n<\/li>\n<li id=\"menu-item-63393\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63393\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/gross-motor-activities\/\" itemprop=\"url\">Gross Motor<\/a><\/li>\n<li id=\"menu-item-63392\" class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63392\"><a href=\"https:\/\/handsonaswegrow.com\/kids-activities\/fine-motor-activities\/\" itemprop=\"url\">Fine Motor<\/a><\/li>\n"],"navigation":"Menu","navarialabel":"Navigation Menu","submenu":"Menu","subarialabel":"Navigation Sub Menu","swipe":"","speed":"200","source":null,"function":"prepend","search":{"panel":true,"input":"<div class=\"search-me\"><form method=\"get\" class=\"searchform search-form\" action=\"https:\/\/handsonaswegrow.com\/search\" >\r\n<input type=\"text\" value=\"Search this website\" name=\"q\" class=\"s search-input\" onfocus=\"if (this.value == 'Search this website') {this.value = '';}\" onblur=\"if (this.value == '') {this.value = 'Search this website';}\" \/>\r\n<input type=\"submit\" class=\"searchsubmit search-submit\" value=\"&#xf002;\" \/>\r\n<\/form><\/div>","button":false,"button_text":"Search","button_aria":"Search"},"second":[],"html5":"1","widget_end":"1","custom":[],"customizer":"","svg":""};
var supersidemeSkipLinks = {"ulClass":".genesis-skip-link","startLink":"genesis-nav-primary","contains":"genesis-nav","unique":"primary"};
/* ]]> */
</script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/superside-me/includes/js/supersideme.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tve_frontend_options = {"is_editor_page":"","page_events":[],"is_single":"1","ajaxurl":"https:\/\/handsonaswegrow.com\/wp-admin\/admin-ajax.php","social_fb_app_id":"","dash_url":"https:\/\/handsonaswegrow.com\/wp-content\/plugins\/thrive-leads\/thrive-dashboard","translations":{"Copy":"Copy"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/thrive-leads/tcb/editor/js/dist/frontend.min.js'></script>
<script type='text/javascript' src='//handsonaswegrow.com/wp-content/plugins/thrive-leads/js/frontend.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ctcc_vars = {"expiry":"30","method":"1","version":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/uk-cookie-consent/assets/js/uk-cookie-consent-js.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/social-warfare/assets/js/script.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-includes/js/comment-reply.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-includes/js/hoverIntent.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/genesis/lib/js/menu/superfish.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/genesis/lib/js/menu/superfish.args.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/genesis/lib/js/skip-links.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/themes/hoawg-ewd2/js/sticky-nav.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tve_dash_front = {"ajaxurl":"https:\/\/handsonaswegrow.com\/wp-admin\/admin-ajax.php","force_ajax_send":"1","is_crawler":""};
/* ]]> */
</script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-content/plugins/thrive-leads/thrive-dashboard/js/dist/frontend.min.js'></script>
<script type='text/javascript' src='https://handsonaswegrow.com/wp-includes/js/wp-embed.min.js'></script>
<script type="text/javascript">/*<![CDATA[*/if ( !window.TL_Const ) {var TL_Const={"security":"d26bd6d0bd","ajax_url":"https:\/\/handsonaswegrow.com\/wp-admin\/admin-ajax.php","forms":[],"action_conversion":"tve_leads_ajax_conversion","action_impression":"tve_leads_ajax_impression","ajax_load":1,"main_group_id":64245,"display_options":{"allowed_post_types":[],"flag_url_match":null},"custom_post_data":{"get_data":{"_ga":"2.34527329.1372226920.1543171893-1595179203.1542577408"},"http_referrer":"https:\/\/localhost:44395\/"},"current_screen":{"screen_type":3,"screen_id":12887},"ignored_fields":["email","_captcha_size","_captcha_theme","_captcha_type","_submit_option","_use_captcha","g-recaptcha-response","__tcb_lg_fc","__tcb_lg_msg","_state","_form_type","_error_message_option","_back_url","_submit_option","url","_asset_group","_asset_option","mailchimp_optin"]};} else {ThriveGlobal.$j.extend(true, TL_Const, {"security":"d26bd6d0bd","ajax_url":"https:\/\/handsonaswegrow.com\/wp-admin\/admin-ajax.php","forms":[],"action_conversion":"tve_leads_ajax_conversion","action_impression":"tve_leads_ajax_impression","ajax_load":1,"main_group_id":64245,"display_options":{"allowed_post_types":[],"flag_url_match":null},"custom_post_data":{"get_data":{"_ga":"2.34527329.1372226920.1543171893-1595179203.1542577408"},"http_referrer":"https:\/\/localhost:44395\/"},"current_screen":{"screen_type":3,"screen_id":12887},"ignored_fields":["email","_captcha_size","_captcha_theme","_captcha_type","_submit_option","_use_captcha","g-recaptcha-response","__tcb_lg_fc","__tcb_lg_msg","_state","_form_type","_error_message_option","_back_url","_submit_option","url","_asset_group","_asset_option","mailchimp_optin"]})} /*]]> */</script>
<script type="text/javascript">var swpFloatBeforeContent = false;var swpClickTracking = false; swpPinIt={"enabled":false};</script>
<script type="text/javascript">
					jQuery(document).ready(function($){
												if(!catapultReadCookie("catAccCookies")){ // If the cookie has not been set then show the bar
							$("html").addClass("has-cookie-bar");
							$("html").addClass("cookie-bar-top-bar");
							$("html").addClass("cookie-bar-bar");
															// Wait for the animation on the html to end before recalculating the required top margin
								$("html").on('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(e) {
									// code to execute after transition ends
									var barHeight = $('#catapult-cookie-bar').outerHeight();
									$("html").css("margin-top",barHeight);
									$("body.admin-bar").css("margin-top",barHeight-32); // Push the body down if the admin bar is active
								});
													}
																			ctccFirstPage();
											});
</script>

<div id="catapult-cookie-bar" class=""><div class="ctcc-inner "><span class="ctcc-left-side">This site uses cookies to customize content and advertising, to provide social media features and analyze traffic to our site. We also share information about how you use our site with our trusted social media, advertising and analytic partners. <a class="ctcc-more-info-link" tabindex=0 target="_blank" href="https://handsonaswegrow.com/privacy-policy/">Find out more.</a></span><span class="ctcc-right-side"><button id="catapultCookie" tabindex=0 onclick="catapultAcceptCookies();">I agree</button></span></div><!-- custom wrapper class --></div>

